.table-data{
    max-width: 1000px;
    margin: 0 auto;
    border-collapse: collapse;

    td{
        font-size: 18px;
        border-bottom: 1px solid lightgray;
        padding: 6px;
        margin: 0 20px;
    }
    th{
        font-size: 20px;
        border-bottom: 1px solid grey;
        border-top: 1px solid grey;
        padding: 6px;
        cursor: default;
    }
    tbody{
        tr{
            cursor: pointer;
            &:hover{
                background-color: lightblue;
            }
        }
    }
}